<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('打印采购合同')"/>
    <title>采购合同打印</title>
    <style>
        fixed-table-body {
            height: auto;
        }

        .div {

        }

        .select-table table {
            table-layout: fixed;
        }

        .select-table .table td {

            /*规定段落中的文本不进行换行 */
            white-space: nowrap;
            /* 配合宽度来使用 */
            height: 40px;
        }


    </style>
</head>
<body class="white-bg">


<div class="table-d" id="context">
    <h1 style="text-align: center;">采购合同明细单</h1>
    <div class="div" style="position: relative;margin-bottom: 1%;">
        <span style="font-size: 14px;">合同号:</span> <span style="font-size: 14px;"
                                                         th:text="${data.purchasecontract.purchasecontractid}"></span>
        <span style="position:absolute;left: 220px;font-size: 14px;">供应商: </span> <span
            style="position:absolute;left: 265px;font-size: 14px;" th:text="${data.purchasecontract.partyb}"></span>
        <span style="font-size: 14px;position:absolute;left: 550px;">付款方式: </span> <span
            style="font-size: 14px;position:absolute;left:610px;" th:text="${data.purchasecontract.payway}"></span>
        <span style="position:absolute;left: 860px;font-size: 14px;">签订时间: </span> <span
            style="font-size: 14px;position:absolute;left:925px;"
            th:text="${#dates.format(data.purchasecontract.signingtime,'yyyy-MM-dd')}"></span>
    </div>
    <div class="div" style="position: relative;">
        <span style="font-size: 14px;">单项明细:</span>
    </div>
    <table class="table">

        <tr>
            <td style="border:1px solid black;font-size: 14px;" width="60" align="center">序号</td>
            <td style="border:1px solid black;font-size: 14px;" width="150" align="center">产品名称</td>
            <td style="border:1px solid black;font-size: 14px;" width="200" align="center">规格型号</td>
            <td style="border:1px solid black;font-size: 14px;" width="60" align="center">数量</td>
            <td style="border:1px solid black;font-size: 14px;" width="80" align="center">单价</td>
            <td style="border:1px solid black;font-size: 14px;" width="80" align="center">金额</td>
            <td style="border:1px solid black;font-size: 14px;" width="400" align="center">子商品</td>


        </tr>
        <tr th:each="purchasedetail : ${data.purchasedetails}">
            <td style="font-size: 10px;border:1px solid black;" width="60" align="center"
                th:text="${purchasedetailStat.count}">
            <td style="font-size: 10px;border:1px solid black;" width="150" align="center"
                th:text="${purchasedetail.productname}"></td>
            <td style="font-size: 10px;border:1px solid black;" width="200" align="center"
                th:text="${purchasedetail.specifications}"></td>
            <td style="font-size: 10px;border:1px solid black;" width="60" align="center"
                th:text="${purchasedetail.productnum}"></td>
            <td style="font-size: 10px;border:1px solid black;" width="80" align="center"
                th:text="${purchasedetail.price}"></td>
            <td style="font-size: 10px;border:1px solid black;" width="80" align="center"
                th:text="${purchasedetail.money}"></td>
            <td style="font-size: 10px;border:1px solid black;">
                <table width="400" th:each="purchasedetailChildren : ${purchasedetail.purchasedetailChildList}">
                    <tr>
                        <td style="font-size: 5px;border:1px solid black;" width="150" align="center">产品名称</td>
                        <td style="font-size: 5px;border:1px solid black;" width="200" align="center">规格型号</td>
                        <td style="font-size: 5px;border:1px solid black;" width="50" align="center">数量</td>
                        <td style="font-size: 5px;border:1px solid black;" width="50" align="center">单价</td>
                        <td style="font-size: 5px;border:1px solid black;" width="70" align="center">金额</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid black;" align="center"
                            th:text="${purchasedetailChildren.productname}"></td>
                        <td style="font-size: 10px;border:1px solid black;" align="center" width="100"
                            th:text="${purchasedetailChildren.specifications}"></td>
                        <td style="font-size: 10px;border:1px solid black;" align="center" width="100"
                            th:text="${purchasedetailChildren.productnum}"></td>
                        <td style="font-size: 10px;border:1px solid black;" align="center" width="100"
                            th:text="${purchasedetailChildren.price}"></td>
                        <td style="font-size: 10px;border:1px solid black;" align="center" width="100"
                            th:text="${purchasedetailChildren.money}"></td>
                    </tr>
                </table>

            </td>
        </tr>


        </tbody>
    </table>


    <div class="div" style="position: relative;margin-top: 1%;">
        <span style="font-size: 14px;position:absolute;left: 810px;">总金额: </span> <span
            style="font-size: 14px;position:absolute;left:885px;"
            th:text="${data.purchasecontract.purchasesamount}"></span>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="print()"><i class="fa fa-check"></i>打 印</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
        </button>
    </div>
</div>

<th:block th:include="include :: footer"/>
<script src="http://www.jq22.com/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.jqprint-0.3.js}"></script>
<script type="text/javascript">
    var prefix = ctx + "system/storageindetail";


    var prefix = ctx + "system/storageindetail"
    $("#form-storageindetail-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-storageindetail-add').serialize());
        }
    }

    function print() {
        $("#context").jqprint();

    }


</script>

</body>
</html>