<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('销售合同列表列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>销售合同号：</label>
                                <select name="contractid">
                                    <option value="">所有</option>
                                    <option
                                            th:each="sale: ${salescontractList}"
                                            th:value="${sale.contractid}"
                                            th:text="${sale.contractid}">
                                    </option>

                                </select>
                            </li>
                            <li>
                                <label>经办人：</label>
                                <select  name="operator">
                                    <option value="">所有</option>
                                    <option
                                            th:each="ksluser: ${kslcusromeruserList}"
                                            th:value="${ksluser.username}"
                                            th:text="${ksluser.username}">
                                    </option>

                                </select>
                            </li>


                            <li>
                                <label>甲方：</label>
                                <select name="firstparty">
                                    <option value="">所有</option>
                                    <option
                                            th:each="cust: ${customerList}"
                                            th:value="${cust.name}"
                                            th:text="${cust.name}">
                                    </option>
                                </select>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">


                <a class="btn btn-primary single disabled" onclick="saleInfo()" >
                    <i class="fa fa-edit"></i> 打印
                </a>

            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:salescontract:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:salescontract:remove')}]];
        var prefix = ctx + "system/salescontract";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "销售合同列表",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'id',
                    visible: false
                },
                {
                    field: 'contractid', 
                    title: '销售合同号'
                },
                    {
                        field: 'firstparty',
                        title: '甲方'
                    },
                {
                    field: 'operator', 
                    title: '经办人'
                },
                {
                    field: 'payway', 
                    title: '付款方式'
                },
                {
                    field: 'salesamount', 
                    title: '合同金额'
                },

                {
                    field: 'signingtime', 
                    title: '签订时间'
                },
                {
                    field: 'remarks', 
                    title: '备注'
                },
               ]
            };
            $.table.init(options);
        });



        function saleInfo(id) {
            table.set();
            if($.common.isEmpty(id) && table.options.type == table_type.bootstrapTreeTable) {
                var row = $("#" + table.options.id).bootstrapTreeTable('getSelections')[0];
                if ($.common.isEmpty(row)) {
                    $.modal.alertWarning("请至少选择一条记录");
                    return;
                }
                var url = table.options.updateUrl.replace("{id}", row[table.options.uniqueId]);

                $.modal.openTab("修改" + table.options.modalName, url);
            } else {


                    $.modal.openTab("销售明细信息",editUrl(id));


            }
        }


       function editUrl(id) {
            var url = "/404.html";
            if ($.common.isNotEmpty(id)) {

                url = table.options.updateUrl.replace("{id}", id);

            } else {
                var id = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);

                if (id.length == 0) {
                    $.modal.alertWarning("请至少选择一条记录");
                    return;
                }
                url = prefix+"/print/"+(id);

            }
            return url;
        }

        function  addTab() {
            table.set();
            $.modal.openTab("结算", $.operate.addUrl());
        }
    </script>

</body>
</html>