<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PurchasedetailMapper">
    
    <resultMap type="Purchasedetail" id="PurchasedetailResult">
        <result property="id"    column="id"    />
        <result property="price"    column="price"    />
        <result property="purchasecontractId"    column="purchasecontract_id"    />
        <result property="productnum"    column="productnum"    />
        <result property="money"    column="money"    />
        <result property="selldetailId"    column="selldetail_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="purchaseinvoiceId"    column="purchaseinvoice_id"    />
        <result property="purchaseinvoiceNumber" column="purchaseinvoiceNumber"/>
        <result property="purchasecontractNumber" column="purchasecontractNumber"/>
        <result property="supplier" column="supplier"/>
        <collection property="purchasedetailChildList" column="id" ofType="PurchasedetailChild" select="com.ruoyi.system.mapper.PurchasedetailChildMapper.selectPurchasedetailChildByPid">

        </collection>
    </resultMap>

    <sql id="selectPurchasedetailVo">
        select id,price,purchasecontract_id,productnum,money,purchaseinvoice_id,selldetail_id,create_time from pur_detail    </sql>
    <select id="selectPurchasedetailList" parameterType="Purchasedetail" resultMap="PurchasedetailResult">
        select (select partyb from pur_contract where id=p.purchasecontract_id) supplier,  (select purchaseinvoiceid from pur_invoice where id=purchaseinvoice_id) as purchaseinvoiceNumber,(select purchasecontractid from pur_contract where id=p.purchasecontract_id) purchasecontractNumber,purchaseinvoice_id  , p.id, productname,p.price, unit, specifications, purchasecontract_id, producttype, p.productnum, p.money, selldetail_id from pur_detail p
        inner join  sale_detail s on s.id=p.selldetail_id
        <where>
            <if test="purchaseinvoiceId != null  and purchaseinvoiceId != ''"> and purchaseinvoice_id = #{purchaseinvoiceId}</if>
            <if test="purchasecontractId != null  and purchasecontractId != ''"> and purchasecontract_id = #{purchasecontractId}</if>
        </where>
    </select>
    
    <select id="selectPurchasedetailById" parameterType="Long" resultMap="PurchasedetailResult">
        select id,price,purchasecontract_id,productnum,money,purchaseinvoice_id,selldetail_id,create_time,(select purchasecontractid from pur_contract where id=pur_detail.purchasecontract_id) purchasecontractNumber from pur_detail
        where id = #{id}
    </select>

    <select id="selectPurchasedetailListByPurchasecontractId"   resultMap="PurchasedetailResult">
        select  purchaseinvoice_id  , p.id, productname,p.price, unit, LEFT(specifications,20)  specifications, purchasecontract_id, producttype, p.productnum, p.money, selldetail_id from pur_detail p
       inner join  sale_detail s on s.id=p.selldetail_id
        where purchasecontract_id = #{purchasecontractId}
    </select>
        
    <insert id="insertPurchasedetail" parameterType="Purchasedetail" useGeneratedKeys="true" keyProperty="id">
        insert into pur_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="price != null ">price,</if>
            <if test="purchasecontractId != null  and purchasecontractId != ''">purchasecontract_id,</if>
            <if test="productnum != null ">productnum,</if>
            <if test="money != null ">money,</if>
            <if test="selldetailId != null ">selldetail_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="price != null ">#{price},</if>
            <if test="purchasecontractId != null">#{purchasecontractId},</if>
            <if test="productnum != null ">#{productnum},</if>
            <if test="money != null ">#{money},</if>
            <if test="selldetailId != null ">#{selldetailId},</if>
         </trim>
    </insert>

    <update id="updatePurchasedetail" parameterType="Purchasedetail">
        update pur_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="price != null ">price = #{price},</if>
            <if test="purchasecontractId != null  ">purchasecontract_id = #{purchasecontractId},</if>
            <if test="productnum != null ">productnum = #{productnum},</if>
            <if test="money != null ">money = #{money},</if>
            <if test="selldetailId != null ">selldetail_id = #{selldetailId},</if>
        </trim>
        where id = #{id}
    </update>



    <update id="updatePurchaseinvoiceId" parameterType="Purchasedetail">
        update pur_detail set
         purchaseinvoice_id=#{purchaseinvoiceId}
        where id = #{id}
    </update>

    <update id="updatePurchasedetailByPurchaseinvoiceId" parameterType="Long">
        update pur_detail set
                                  purchaseinvoice_id=null
        where purchaseinvoice_id = #{purchaseinvoiceId}
    </update>


    <delete id="deletePurchasedetailById" parameterType="Long">
        delete from pur_detail where id = #{id}
    </delete>

    <delete id="deletePurchasedetailByIds" parameterType="String">
        delete from pur_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>